**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data_1 = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data = pd.DataFrame(data_1)
print(data)

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [ ]:
birds_df=pd.DataFrame(data_1["birds"],index=labels)
birds_df.columns=["birds"]
print(birds_df)

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [ ]:
birds_df.describe()

**3. Print the first 2 rows of the birds dataframe **

In [ ]:
birds_df.iloc[0:2]

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [ ]:
data.loc[:,['birds','age']]

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [ ]:
data.loc[[2,3,7],['birds', 'age', 'visits']]

**6. select the rows where the number of visits is less than 4**

In [ ]:
data.loc[data['visits']<4,'visits']

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [ ]:
data.loc[data['age'].isnull(),['birds', 'visits']]

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [ ]:
data[(data['birds']=='Cranes') & (data['age']<4)]

**9. Select the rows the age is between 2 and 4(inclusive)**

In [ ]:
data[(data['age']>=2) & (data['age']<=4)]

**10. Find the total number of visits of the bird Cranes**

In [ ]:
data[data['birds']=='Cranes']['visits'].sum()

**11. Calculate the mean age for each different birds in dataframe.**

In [ ]:
data.groupby('birds',as_index=False)['age'].mean()

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [ ]:
k = {'birds':'kingfisher', 'age':np.nan, 'visits':4, 'priority': 'yes'}

data = data.append(k,ignore_index=True)
data

In [ ]:
data.drop(10)

**13. Find the number of each type of birds in dataframe (Counts)**

In [ ]:
data['birds'].value_counts()

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [ ]:
data.sort_values(['age','visits'],ascending= [False,True])

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [ ]:
data.loc[data['priority']=='no','priority'] = 0
data.loc[data['priority']=='yes','priority'] = 1
data

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [ ]:
data.loc[data['birds']=='Cranes','birds'] = 'trumpeters'
data